
.sidebar {
    width: 220px;
    max-height: 100vh;
}

.offcanvas_sidebar {
    width: 220px !important;
    height: 100vh !important;
}

.offcanvas-header{
    max-height: 80px;
    border-bottom: 1px solid rgb(202, 199, 199);
    padding: 17px 10px;
}
.offcanvas-body {
    padding: 0px;

    &::-webkit-scrollbar {
        width: 3px !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #F0FDF4;
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
}

.dropdown_item {
    list-style-type: none;
}

.dropdown_list {
    display: block;
    /* margin: 10px 0px; */

    &:first-child {
        margin-top: 0px;
    }

    &:last-child {
        margin-bottom: 0px;
    }
}

.dropdown_btn {
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
}

.dropdown_btn.active {
    color: white;
    background-color: black;
    border-left: 5px solid orangered;
}

.dropdown_btn[aria-expanded="true"] {
    color: white;
    background-color: black;
    border-left: 5px solid orangered;
}

.dropdown_icon {
    color: black;
}

.dropdown_btn[aria-expanded="true"] .dropdown_icon {
    color: white;
    transform: rotate(180deg);
}

.dropdown_list_name {
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: 0.5px;
}

.dropdown_list_icon {
    /* margin-right: 10px; */
    /* width: 20px; */
}

.dropdown_link {
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    width: 100%;
    padding: 5px 0px 5px 40px;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: black;
        background-color: #fffbd8;
        /* border-left: 5px solid var(--Primary-Color); */
    }
}

.dropdown_link.active {
    color: black;
    background-color: #FEE715;
    border-left: 5px solid black;
}


@media (min-width: 768px) {
    .offcanvas-backdrop {
        display: none !important;
    }

    .offcanvas_sidebar {
        transform: none !important;
        visibility: visible !important;
        position: relative;
        background-color: white;
        position: fixed;
        left: 0;
        bottom: 0;
        top: 0;
    }

    .offcanvas_sidebar.show {
        display: block;
    }

    .offcanvas_close_btn {
        display: none !important;
    }
}



/* ============ Navbar ============= */
.navbar_top {
    width: 100%;
    height: 65px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
    background-color: white;
}

.navbar_row {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company_brand {
    margin-left: 250px;
}

.user_dropdown {
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    background-color: white;
    border-radius: 0px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: #f8fdfa;
    }
}

.user_dropdown_icon {
    font-size: 30px;
    margin-right: 10px;
}

.user_dropdown_arrow_icon {
    font-size: 12px;
}

@media (min-width: 768px) {
    .navbar_top {
        z-index: 999;
    }

    .navbar_row {
        justify-content: space-between;
    }
}

/* =========== [ MOBILE RESPOSIVE ] ============= */

@media screen and (max-width:480px) {
    .navbar_top {
        height: 50px;
    }

    .navbar_row {
        height: 50px;
        margin: 0px 10px;
    }

    .offcanvas_bar_icon {
        font-size: 25px;
    }

    .company_btn_icon {
        color: black;
        font-size: 22px;
    }

    .user_dropdown {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        padding-left: 10px;
    }

    .user_dropdown_icon {
        font-size: 30px;
        margin-right: 0px;
    }

    .company_brand {
        margin-left: 0;
        text-align: center;
    }

}
