@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Pontano+Sans:wght@300..700&display=swap');

:root {
  --primary-fonts: "Pontano Sans", sans-serif;
  --primary-title-color: red;
  --primary-title-size: 20px;
  --primary-text-color: red;
  --primary-text-size: 14px;
  --body-bg-color: #F0F3F9;
  --primary-border-color: red;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-fonts);
  background-color: var(--body-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

button,
input,
select {
  border: none;
  border-radius: 0px;
  outline: none;
  background-color: transparent;

  &:focus {
    box-shadow: none !important;
    border-color: var(--primary-border-color);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
  display: block;
}

a {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
}

.dropdown-toggle::after {
  display: none;
}

.main_content {
  margin-left: 250px;
  /* padding-top: 90px; */
  overflow-x: hidden;
}


@media screen and (max-width:768px) {
  .main_content {
    margin-left: 0px;
  }
}